* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* 🌈 Animated Gradient Background */
body {
  height: 100vh;
  background: linear-gradient(-45deg, #6C63FF, #00C9A7, #FF6B6B, #FFD93D);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Layout */
.main-container {
  display: flex;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

/* Left Panel */
.left-panel {
  flex: 1;
  background: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

/* Login Box */
.login-box {
  flex: 1;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  color: white;
}

/* Input */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #aaa;
  transition: 0.3s;
}

/* Floating Effect */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: #00C9A7;
}


/* Password eye */
.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #00C9A7;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #FF6B6B;
  transform: scale(1.05);
}


.light-mode .login-box {
  color: black;
}

.light-mode input {
  background: #fff;
  color: black;
}
/* Space below button */
.bottom-text {
  margin-top: 25px;
  text-align: center;
}
select {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: none;
}
#adminSection {
    display: none;
}